* {
    /* outline: 1px solid; */
}

.header {}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header.on {

    background: rgba(0, 0, 0, 0.5);
}

.header .hd_wrap {
    display: flex;
    max-width: var(--inner-size);
    margin: 0 auto;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

.header h1 img {
    height: 40px;
}

.header .gnb {}

.header .gnb>ul {
    display: flex;
    gap: 56px;

}

.header .gnb>ul>li {
    position: relative;

}

.header .gnb>ul>li ul {
    position: absolute;
    top: 88px;
    left: 50%;
    z-index: 3;


    width: 150px;
    transform: translate(-50%, -10px);
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ddd;

    opacity: 0;
    visibility: hidden;

    transition: 0.4s;
    overflow: hidden;
}



.header .gnb>ul>li:hover ul {

    opacity: 1;
    visibility: visible;
}



.header .gnb>ul>li>a {
    display: block;
    line-height: 80px;
    font-size: 16px;
    font-weight: 500;
    color: var(--w-color);
}

.header .gnb>ul>li>ul li:hover {
    background: var(--bg-color);

}

.header .gnb>ul>li>ul li a {
    display: block;
    line-height: 40px;
    white-space: nowrap;
    text-align: center;
}

.header .gnb>ul>li>ul li~li a {
    border-top: 1px solid #ddd;
}

.header .mbtn {
    display: none;
}

@media (max-width: 768px) {
    .header {}

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .header.on {

        background: rgba(0, 0, 0, 0.5);
    }

    .header .hd_wrap {
        display: flex;
        max-width: var(--inner-size);
        margin: 0 auto;
        height: 80px;
        align-items: center;
    }

    .header h1 img {
        height: 40px;
        margin: 0 16px;
    }

    .header .gnb {
        /* r */
        position: fixed;
        top: 0;
        left: -100vw;
        z-index: 999;

        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.75);
    }

    .header .gnb.on {
        left: 0
    }

    .header .gnb>ul {
        display: flex;
        gap: 56px;

        /* r */
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 80px);
        height: 100%;
        background: #fff;
        padding: 120px 24px 0 24px;

    }

    .header .gnb>ul>li {
        position: relative;

    }

    .header .gnb>ul>li ul {
        position: absolute;
        top: 88px;
        left: 50%;
        z-index: 3;


        width: 150px;
        transform: translate(-50%, -10px);
        border-radius: 8px;
        background: #fff;
        border: 1px solid #ddd;


        transition: none;

        /* r */

        position: static;
        visibility: visible;
        opacity: 1;

        width: auto;

        transform: translate(0, 0);
        display: none;
    }



    .header .gnb>ul>li:hover ul {

        opacity: 1;
        visibility: visible;

        transform: translate(0, 0);
        display: none;
    }



    .header .gnb>ul>li>a {
        display: block;
        line-height: 80px;
        font-size: 16px;
        font-weight: 500;
        color: var(--b-color);

        /* r */
        line-height: 40px;
    }

    .header .gnb>ul>li>ul li:hover {
        background: var(--bg-color);
    }

    .header .gnb>ul>li>ul li a {
        display: block;
        line-height: 40px;
        white-space: nowrap;
        text-align: center;
    }

    .header .gnb>ul>li>ul li~li a {
        border-top: 1px solid #ddd;
    }

    .header .utils {
        display: none;
    }

    .header .mbtn {
        display: none;
        /* r */
        display: block;
        position: fixed;
        top: 32px;
        right: 16px;
        z-index: 999;

        /* hamberger 수정 */
        background: #fff;
        padding: 8px;
    }

    .hamberher-box {
        width: 32px;
        height: 24px;
        display: block;
        position: relative;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 100%;
        height: 2px;
        background-color: #000;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease
    }
}

.main_visual {
    position: relative;
}

.main_visual .main_visual_slide .itm::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: 2;
    background: linear-gradient(to top, transparent 10%, rgba(0, 0, 0, 0.5) 70%);
    pointer-events: none;
}

.main_visual .main_visual_slide .itm {
    height: 90vh;
}

.main_visual .main_visual_slide .itm01 {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual02.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 {
    background: url(../images/main_visual03.jpg) no-repeat center center/cover;
}

.main_visual .main_visual_slide .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 3;
    max-width: var(--inner-size);

}

.main_visual .main_visual_slide .txt strong {
    display: block;
    font-size: 48px;
    font-weight: 700;

    color: var(--w-color);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.main_visual .main_visual_slide .txt p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--w-color);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 16px;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    max-width: var(--inner-size);
    width: 100%;
}

.main_visual .arrows button {
    position: absolute;
    top: 0;

}

.main_visual .arrows .prev {
    left: 0;
}

.main_visual .arrows .next {
    right: 0;
}

.main_visual .scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-40%, 0);
    width: 80px;
    height: 80px;
    z-index: 3;

    text-transform: uppercase;
    color: #fff;
}

.main_visual .scroll::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(28px, 30px);
    width: 2px;
    height: 88px;

    background: var(--primary-color);
    opacity: 0.5;
}

.main_visual .scroll::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    transform: translate(-38px, 101px) rotate(-135deg);
    border-left: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
    opacity: 0.75;


}

@media (max-width: 768px) {
    .main_visual {
        position: relative;
    }

    .main_visual .main_visual_slide .itm::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        z-index: 2;
        background: linear-gradient(to top, transparent 10%, rgba(0, 0, 0, 0.5) 70%);
        pointer-events: none;
    }

    .main_visual .main_visual_slide .itm {
        height: 90vh;
    }

    .main_visual .main_visual_slide .itm01 {
        background: url(../images/main_visual01.jpg) no-repeat center center/cover;
    }

    .main_visual .main_visual_slide .itm02 {
        background: url(../images/main_visual02.jpg) no-repeat center center/cover;
    }

    .main_visual .main_visual_slide .itm03 {
        background: url(../images/main_visual03.jpg) no-repeat center center/cover;
    }

    .main_visual .main_visual_slide .txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 3;
        max-width: var(--inner-size);

    }

    .main_visual .main_visual_slide .txt strong {
        display: block;
        font-size: 8vw;
        font-weight: 700;

        color: var(--w-color);
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        text-align: center;
    }

    .main_visual .main_visual_slide .txt p {
        font-size: 3vw;
        font-weight: 400;
        line-height: 24px;
        color: var(--w-color);
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        text-align: center;
        margin-top: 16px;
    }

    .main_visual .arrows {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        max-width: var(--inner-size);
        width: 100%;
    }

    .main_visual .arrows button {
        position: absolute;
        top: 0;

    }

    .main_visual .arrows .prev {
        left: 0;
    }

    .main_visual .arrows .next {
        right: 0;
    }

    .main_visual .scroll {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-40%, 0);
        width: 80px;
        height: 80px;
        z-index: 3;

        text-transform: uppercase;
        color: #fff;
    }

    .main_visual .scroll::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(28px, 30px);
        width: 2px;
        height: 88px;

        background: var(--primary-color);
        opacity: 0.5;
    }

    .main_visual .scroll::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        transform: translate(-38px, 101px) rotate(-135deg);
        border-left: 2px solid var(--primary-color);
        border-top: 2px solid var(--primary-color);
        opacity: 0.75;


    }
}


.main_content {
    /* background: var(--bg-color); */
}

.main_content .main_content_slide .itm {
    text-align: center;
}

/* .main_content .img_box {
    display: flex;
} */

.main_content .title {
    max-width: 1290px;
    margin: 0 auto;
}

.main_content .swiper-wrapper {
    transition-timing-function: linear;
}

.main_content .main_content_slide .itm strong {
    display: block;
    font-size: 20px;
    font-weight: 700;

    align-items: center;
    justify-content: center;
}

.main_content .arrows {

    display: none;
}

@media (max-width: 768px) {
    .main_content {
        position: relative;
        /* background: var(--bg-color); */
    }

    .main_content .main_content_slide .itm {
        text-align: center;
    }

    /* .main_content .img_box {
        display: flex;
    } */

    .main_content .title {
        max-width: 1290px;
        margin: 0 16px;
    }

    .main_content .swiper-wrapper {
        transition-timing-function: linear;
    }

    .main_content .main_content_slide .itm strong {
        display: block;
        font-size: 20px;
        font-weight: 700;

        align-items: center;
        justify-content: center;
    }


    .main_content .arrows {
        display: none;
        /* r */
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, -50%);
        max-width: 1170px;
        width: 100%;
    }

    .main_content .arrows button {
        position: absolute;

    }

    .main_content .arrows .prev {
        left: 0;
    }

    .main_content .arrows .next {
        right: 0;
    }




}

.main_content .main_content_slide .itm span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.main_bg {
    position: relative;
    background: url(../images/main_bg.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    margin-bottom: 80px;
}

.main_bg::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: #000;
    opacity: 0.5;
}

.main_bg .title {
    position: relative;
    color: var(--w-color);
}

.main_bg .title .btn_default {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.main_bg .title .btn_default::before {
    display: none;
}

.main_bg .title .btn_default::after {
    display: none;
}

.main_bg .title .btn_default:hover {
    background: var(--w-color);
    color: var(--b-color);
}

.main_bg .btn_wrap {
    text-align: center;
}

@media (max-width: 768px) {
    .main_bg {
        position: relative;
        background: url(../images/main_bg.jpg) no-repeat center center/cover;
        background-attachment: fixed;
        margin-bottom: 80px;
        text-align: center;

        /* r */
        margin-bottom: 20px;
    }

    .main_bg::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background: #000;
        opacity: 0.5;
    }

    .main_bg .title {
        position: relative;
        color: var(--w-color);
    }

    .main_bg .title .btn_default {
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

    .main_bg .title .btn_default::before {
        display: none;
    }

    .main_bg .title .btn_default::after {
        display: none;
    }

    .main_bg .title .btn_default:hover {
        background: var(--w-color);
        color: var(--b-color);
    }

    .main_bg .btn_wrap {
        text-align: center;
    }
}

.main_store {
    position: relative;
}

.main_store .main_store_slide .img_box_as {


    max-width: var(--inner-size);
    margin: 0 auto;
    text-align: center;
}

.main_store .main_store_slide .img .tt {
    position: relative;
    display: flex;
    max-width: var(--inner-size);
    margin: 0 auto;
    padding-top: 80px;
    align-items: center;
    padding-bottom: 64px;
}

.main_store .main_store_slide .img .tt h2 {
    font-size: 32px;
    font-weight: 600;
}

.main_store .main_store_slide .img .tt p {
    position: absolute;
    font-size: 24px;
    right: 0;

}

.main_store .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100px);
    z-index: 3;

    max-width: var(--inner-size);
    width: 100%;
}

.main_store .arrows button {
    position: absolute;
    width: 40px;
    height: 40px;
    background: var(--bg-color);
    border-radius: 50%;
}

.main_store .arrows .prev {
    left: 0;
}

.main_store .arrows .next {
    right: 0;
}

@media (max-width: 768px) {
    .main_store {
        position: relative;
    }

    .main_store .main_store_slide .img_box_as {


        max-width: var(--inner-size);
        margin: 0 auto;
        text-align: center;
        padding-top: 24px;
    }

    .main_store .main_store_slide .img .tt {
        position: relative;
        display: flex;
        max-width: var(--inner-size);
        margin: 0 auto;
        padding-top: 80px;
        align-items: center;
        padding-bottom: 64px;

        /* r */
        display: block;
        padding-top: 8px;
        padding-bottom: 80px;
        margin: 0 16px;
        align-items: center;

    }

    .main_store .main_store_slide .img .tt h2 {
        padding-top: 24px;
        font-size: 5vw;
        font-weight: 600;
    }

    .main_store .main_store_slide .img .tt p {
        position: absolute;
        /* r */
        margin-top: 8px;
        font-size: 12px;
        left: 0;


        word-break: keep-all;
    }

    .main_store .arrows {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75px);
        z-index: 3;

        max-width: var(--inner-size);
        margin: 0 auto;
    }


    .main_store .arrows button {
        position: absolute;
        width: 40px;
        height: 40px;
        background: var(--bg-color);
        border-radius: 50%;

        /* r */
        width: 32px;
        height: 32px;
        background: #fff;
        opacity: 0.75;


    }


    .main_store .arrows .prev {
        left: 0;
    }

    .main_store .arrows .next {
        right: 0;
    }

}

.footer {
    background: var(--primary-color);

}

.footer .inner {
    display: flex;
    gap: 40px;
}


.footer .customer {
    padding-top: 48px;
}

.footer .star {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--w-color);
    padding: 48px 0 0 24px;
}

.footer .info>ul {
    display: flex;
    gap: 32px;
    max-width: var(--inner-size);
    margin: 0 auto;

    justify-content: center;
    padding-top: 24px;
}

.footer .info li {
    position: relative;
}

.footer .info li~li::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translate(0, -50%);

    width: 1px;
    height: 0.5em;
    background: #ddd;
}






.footer .info>ul>li {
    color: var(--w-color);
}


.footer .infoot>ul {
    display: flex;
    gap: 32px;
    max-width: var(--inner-size);
    margin: 0 auto;
    justify-content: center;
    color: var(--w-color);
    margin-top: 8px;
}


.footer address {
    margin-top: 16px;
    text-align: center;

    color: var(--w-color);
    opacity: 0.5;
    padding-bottom: 48px;
}

@media (max-width: 768px) {
    .footer {

        background: var(--primary-color);

    }

    .footer .inner {
        display: flex;
        gap: 40px;

        /* r */
        display: block;
    }

    .footer .customer img {
        height: 24px;
    }

    .footer .customer {
        padding-top: 24px;
        margin: 0 16px;
    }

    .footer .star {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: var(--w-color);
        padding-top: 16px;

        /* r */
        padding: 16px 0 0 0;
        margin: 0 16px;


    }

    .footer .info>ul {
        display: flex;
        gap: 32px;
        max-width: var(--inner-size);
        margin: 0 auto;

        justify-content: center;
        padding-top: 24px;
        /* r */
        font-size: 2.8vw;
        gap: 24px;
    }

    .footer .info li {
        position: relative;
    }

    .footer .info>ul>li~li::before {
        content: "";
        position: absolute;
        left: -12px;
        top: 50%;
        transform: translate(0, -50%);

        width: 1px;
        height: 0.5em;
        background: #ddd;


    }






    .footer .info>ul>li {
        color: var(--w-color);
    }


    .footer .infoot>ul {
        display: flex;
        gap: 32px;
        max-width: var(--inner-size);
        margin: 0 auto;
        justify-content: center;
        color: var(--w-color);
        margin-top: 8px;
        /* r */
        font-size: 14px;
        flex-direction: column;
        gap: 8px;
        margin: 16px 16px;


    }


    .footer address {
        font-size: 12px;
        margin-top: 16px;


        color: var(--w-color);
        opacity: 0.5;


    }
}